extends ../tools.pug
block tool_content
  .container
    p.text-center 使用了 UTF-8 编码来进行 BASE64 转换
    textarea#intext.center-block(style='width:600px;height:120px;' autofocus)
    .text-center(style='margin:10px 0')
      button#encode.btn.btn-info 加密
      span &nbsp;&nbsp;
      button#decode.btn.btn-warning 解密
    textarea#outtext.center-block(style='width:600px;height:120px;background-color:#f2f2f2' readonly)
block append foot_scripts
  script(type='text/javascript').
    $('#encode').on('click',function(){
      var intext = $('#intext').val();
      var intext = unescape(encodeURIComponent(intext));
      var outtext = '';
      try{
        outtext = window.btoa(intext);
      }catch(e){
        outtext = e.message; 
      }
      $('#outtext').val(outtext);
    });
    $('#decode').on('click',function(){
      var intext = $('#intext').val();
      var outtext = '';
      try{
        outtext = window.atob(intext);
        outtext = decodeURIComponent(escape(outtext));
      }catch(e){
        outtext = e.message;
      }
      $('#outtext').val(outtext);
    });
    $('#outtext').on('focus', function(){
      $(this).select();
    });
