extends ../tools.pug
block tool_content
  .containeri-fluid
    .center-block(style="width:600px")
      .form-horizontal
        .form-group
          label.col-sm-3.control-label UNIX 时间戳
          .col-sm-8
            input#unixtime.form-control
        .form-group
          .text-center
            a#to-utc.btn.btn-info
              i.fa.fa-fw.fa-long-arrow-down
            span &nbsp;&nbsp;
            a#to-unix.btn.btn-info
              i.fa.fa-fw.fa-long-arrow-up
        .form-group
          label.col-sm-3.control-label UTC 时间
            small.text-muted (iso8601)
          .col-sm-8
            input#utctime.form-control

block append foot_scripts
  script(type='text/javascript').
    $('#to-utc').on('click',function(){
      var intext = $('#unixtime').val();
      var unix = parseInt(intext);
      var thedate = new Date(unix * 1000);
      var outtext = thedate.getUTCFullYear()
          + '-'
          + (thedate.getUTCMonth()+1)
          + '-'
          + thedate.getUTCDate()
          + 'T'
          + thedate.getUTCHours()
          + ':'
          + thedate.getUTCMinutes()
          + ':'
          + thedate.getUTCSeconds()
          + 'Z'
        ;//iso8601
      $('#utctime').val(outtext);
    });
    $('#to-unix').on('click',function(){
      var intext = $('#utctime').val();
      var outtext;
      try{
        var thedate = new Date(intext);
        outtext = Math.round(thedate/1000) - thedate.getTimezoneOffset()*60;
      }catch(e){
        outtext = e.message;
      }
      $('#unixtime').val(outtext);
    });
    $('#unixtime').on('focus', function(){
      $(this).select();
    });
