extends layout

block content
  .container
    #headimg.container(style='margin:0 auto')
      a.thumbnail(href='#')
        img(src="http://placehold.it/1200x400")
      hr
    #article.container
      h1 Article

block extend_script
  script(src='js/index.js')
