extends layout

block content
  .container
    #headimg.container-fluid
      h2.text-center Photo
      .img-container(style='margin:0 auto')
          a.thumbnail(href='/photo')
            img(src="holder.js/1200x400?theme=vine")
    #weibo.container-fluid
      h2.text-center Weibo
      //iframe( id="sina_widget_1160059644" style="width:100%; height:500px;" frameborder="0" scrolling="no" src="http://v.t.sina.com.cn/widget/widget_blog.php?uid=1160059644&height=500&skin=wd_01&showpic=1")

block append foot_scripts
  script(src='js/holder.min.js')
  script(src='js/index.js')
