doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/layout.css')
    link(rel='stylesheet', href='/bootstrap-3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    include ./script.pug
  body.footer-margin
    include ./header.pug
    block content
    include ./footer.pug
    block foot_scripts
