@lyheight: 60px;
@lygray: #f5f5f5;

html {
    position: relative;
    min-height: 100%;
}
body.footer-margin {
    /* Margin bottom by footer height */
    margin-bottom: @lyheight;
}

body > .container {
    padding: @lyheight 15px 0;
}

/* footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: @lyheight;
    background-color: @lygray;
}

.footer .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.thumbnail img {
    transition: all 0.3s ease 0s, opacity 0s ease 0s;
}

.thumbnail:hover img {
    opacity: 0.8;
}

